<div id="entry-background-img">
<div id="title" >
<h1>
    <h1 *ngIf="!isVisible"data-heading="E">ROBERT</h1>
    <h1 class="lightsOn"*ngIf="isVisible"data-heading="ROBERT">ROBERT</h1>

    
    <h2 *ngIf="!isVisible" data-heading="A">HARRIS</h2>
    <h2 class="lightsOn"*ngIf="isVisible" data-heading="HARRIS">HARRIS</h2>
      </h1>
      <p data-subheading>      Full stack developer

    </p>
    <div id = "pageJump">
    <i (mouseenter)="mouseHover($event)" 
    data-arrow  class="material-icons" routerLink="/home" routerLinkActive="active">
    
    arrow_forward
        </i>
    </div>
    </div>
  </div>