/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100vw; 
padding:0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */}
